@import 'normalize.css';
* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.test {
  position: absolute;
  width: 30%;
  height: 70%;
  top: 10px;
  right: 10px;
}
