FRAME_WIDTH = 900px
FRAME_HEIGHT = 650px
ANIMATE_TIME = 250ms

TEXTURE_BG1 = "/assets/img/bg1.png"
TEXTURE_BG2 = '/assets/img/bg2.png'
TEXTURE_BG3 = '/assets/img/bg3.jpg'
TEXTURE_POOL1 = '/assets/img/pool1.png'
TEXTURE_POOL2 = '/assets/img/pool2.png'
TEXTURE_POOL_WALL = '/assets/img/pool_wall.png'
TEXTURE_POOL_GLASS = '/assets/img/pool_glass.png'
TEXTURE_CELLS = '/assets/img/cells3.png'
TEXTURE_FX = '/assets/img/fx.png'

html
  height 100%

body
  height 100%
  width 100%
  background-color #262116

preventSelection()
  -moz-user-select none
  -khtml-user-select none
  -webkit-user-select none
  user-select: none

gameFont()
  font-family 'Rancho', 'Comic Sans MS'
  font-size 2em
  line-height 1em

// Game
.game
  margin auto
  margin-top 5%
  opacity 1
  width FRAME_WIDTH
  height FRAME_HEIGHT
  position relative
  background-repeat no-repeat
  overflow hidden
  box-shadow 0 0 30px #000

  &-inner
    position absolute
    top 0px
    left 0px
    width 100%
    height 100%
    display none

  &-over
    position absolute
    top 25%
    left 25%
    width 50%
    height 40%
    font-size 1.5em
    padding 10px
    text-align center
    z-index 2
    preventSelection()
    gameFont()
    color white
    background: rgba(50, 70, 90, 0.7);
    box-shadow 0 0 20px #151B26
    border-radius RADIUS
    & span
      color: TEXT_COLOR_SELECTED

#bg1, #bg2, #bg3
  position absolute
  top 0px
  left 0px
  width FRAME_WIDTH
  height FRAME_HEIGHT


bgX = 50
bgY = 20
bgP = 2
bgTime = 10s
bg1Y = 222

#bg1
  background-image url(TEXTURE_BG1)
  top 222px
  height 428px
  position absolute
  animation: animationBg1 linear bgTime;
  animation-iteration-count: infinite;
  -webkit-animation: animationBg1 linear bgTime;
  -webkit-animation-iteration-count: infinite;
//-webkit-transform: scale(1.25)

@keyframes animationBg11
  0%
    left (- bgX * bgP)px
    top (bg1Y)px
  25%
    left 0px
    top (- bgY * bgP + bg1Y)px
  50%
    left (bgX * bgP)px
    top (bg1Y)px
  75%
    left 0px
    top (bgY * bgP + bg1Y)px
  100%
    left (- bgX * bgP)px
    top (bg1Y)px

#bg2
  background-image url(TEXTURE_BG2)
  animation: animationBg2 linear bgTime;
  animation-iteration-count: infinite;
  -webkit-animation: animationBg2 linear bgTime;
  -webkit-animation-iteration-count: infinite;
//-webkit-transform: scale(1.15)

@keyframes animationBg21
  0%
    left (- bgX)px
    top 0px
  25%
    left 0px
    top (- bgY)px
  50%
    left (bgX)px
    top 0px
  75%
    left 0px
    top (bgY)px
  100%
    left (- bgX)px
    top 0px


#bg3
  background-image url(TEXTURE_BG3)
  background-repeat repeat
  animation: animationBg3 linear 240s;
  animation-iteration-count: infinite;
  -webkit-animation: animationBg3 linear 240s;
  -webkit-animation-iteration-count: infinite;


@keyframes animationBg3
  0%
    background-position 0px 0px
  100%
    background-position 1600px 0px




//background-size 900px 650px

.pool
  position absolute
  display inline-block
  background-image url(TEXTURE_POOL_WALL)
  width 500px
  height 550px
  transition top (ANIMATE_TIME/2) ease-out
  &-content
  &-content-body
    position relative
    display inline-block
    vertical-align top
  &-content
    left 156px
    top 25px
    width 200px
    overflow hidden
  &-cover
  &-glass
    position absolute
    display inline-block
    top 0px
    left 0px
    width 500px
    height 630px
  &-cover
    background-image url(TEXTURE_POOL1)
  &-glass
    background-image url(TEXTURE_POOL_GLASS)
    top -4px

  &-left
  &-right
    position absolute
    display inline-block

  &-left
    top 103px
    left 70px

  &-right
    position relative
    top: 100px
    width: 60px;
    //background-color: green;
    left: 178px;
    height: 221px;
    &-next
      position: relative;
      margin-top: 15px;
      /* margin-left: 10px; */
      height: 65px;
      width: 40px;

  &-score
    color yellow
    text-align center
    margin-top: 22px;
    margin-left: 2px;
    gameFont()

  &-avatar
    background-image url(/assets/img/ava.jpg)
    background-size: 59px;
    width: 59px;
    height: 58px;

.shape
  position absolute
  transition all ANIMATE_TIME ease-out
//z-index 6

.cell
  position absolute
  background-image url(TEXTURE_CELLS)
  transition all ANIMATE_TIME linear
  background-blend-mode: difference, normal;
  //DO NOT REMOVE THIS!!!
  //IT PREVENTS FLICKER ISSUE WITH CHROME AND SAFARI
  /** see bug flickering http://stackoverflow.com/questions/2946748/iphone-webkit-css-animations-cause-flicker */
  -webkit-perspective 1000
  -webkit-backface-visibility hidden



.cellColor50
  background-position 0px 0px

.cellColor1
  background-position -20px 0px //stick white

.cellColor2
  background-position -140px 0px //square green

.cellColor3
  background-position -40px 0px // yellow

.cellColor4
  background-position -120px 0px // light green

.cellColor5
  background-position -100px 0px // blue

.cellColor6
  background-position -80px 0px // red

.cellColor7
  background-position -60px 0px // purple

//Particles
.particle
  position absolute
  top 28px
  left 159px

.spark, .sprite
  position absolute
  display inline-block
  opacity 0
//transition: all ANIMATE_TIME ease-out

.message
  position absolute
  display inline-block
  width 220px
  text-align center
  font-weight bold
  font-size 2.5em
  text-shadow 0px 0px 15px white
  opacity 0


RADIUS = 33px

POOL-BACKGROUND-TEXTURE = '/assets/img/pool-bg.jpg'
POOL-LR-TEXTURE = '/assets/img/pool-lr.png'
ANIMATE_TIME = 250ms

TEXT_COLOR_NORMAL = #F0F0F0
TEXT_COLOR_SELECTED = #F0C729


backgroundGradient()
  background: rgba(50, 70, 90, 0.7);
  box-shadow 0 0 20px #151B26


.b-pool
  position: absolute
  display: inline-block

  &__left
  &__right
    position: relative
    display: inline-block
    vertical-align: top
    margin-top: 35px
    width: 82px
    min-height: 140px
    background: #151b26 url(POOL-BACKGROUND-TEXTURE)
    background-repeat: repeat no-repeat
    background-position: left (- RADIUS)

    &:before
      content:""
      position: absolute
      top: 0
      height 100%
      width: 100%
      background: url(POOL-LR-TEXTURE)
      background-repeat: repeat no-repeat

  &__left
    left: 10px
    border-radius: RADIUS 0px 0px RADIUS

    &:before
      border-radius: RADIUS 0px 0px RADIUS
      background-position: left top

  &__score
    position relative
    z-index 2
    color yellow
    margin-top 20px
    padding 10px
    text-align center
    gameFont()

    &:before
      min-width 60px
      content "Score"
      display inline-block
      color white

  &__right
    right: 10px
    border-radius: 0 RADIUS RADIUS 0

    &:before
      border-radius: 0 RADIUS RADIUS 0
      background-position: right top
      content "Next"
      margin-top 30px
      text-align center
      color white
      gameFont()

    &__next
      height 60px
      width 60px
      background-color #1d2e3b
      position relative
      top 70px
      border 5px solid #33475c
      border-radius 10px
      margin-bottom 10px
      .jsShapeNext
        margin-top 2px


  &__content
    padding: 28px
    border-radius: RADIUS
    display: inline-block
    background: #33475c url(POOL-BACKGROUND-TEXTURE)
    background-repeat: repeat no-repeat


  &-body
    position relative
    width: 220px
    min-height: 410px
    border 5px solid #1d2e3b
    border-radius: 10px
    backgroundGradient()
    overflow hidden

    &:after
      content ""
      background url('/assets/img/cell.png')
      height 500px
      width 200px
      position absolute


.shape
  position absolute
  transition all ANIMATE_TIME ease-out
  z-index 6

.cell
  position absolute
  background-image url("/assets/img/cells.png")
  transition all ANIMATE_TIME linear
  background-blend-mode: difference, normal;


.b-menu
  position absolute
  display inline-block
  left 25%
  top 25%
  width 50%
  backgroundGradient()
  color TEXT_COLOR_NORMAL
  text-align center
  padding 10px
  gameFont()
  border-radius RADIUS
  preventSelection()

  &-title
    font-weight bold
    font-size 1.5em
    padding 10px

  &-item
    line-height 1.5em
    clear both
    cursor pointer
    &:hover
      color TEXT_COLOR_SELECTED

.controls
  float right
  bottom 0px
  & .button-disabled
    color darkgray
