FRAME_WIDTH = 900px
FRAME_HEIGHT = 650px

RADIUS = 33px

POOL-BACKGROUND-TEXTURE = '/img/pool-bg.jpg'
POOL-LR-TEXTURE = '/img/pool-lr.png'
ANIMATE_TIME = 250ms

TEXT_COLOR_NORMAL = #F0F0F0
TEXT_COLOR_SELECTED = #F0C729


backgroundGradient()
  background: #33485d;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzNDg1ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDJkM2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+")
  background: linear-gradient(to bottom,  #33485d 0%,#1d2d3a 100%)
  iefilter( #ff33485d, #ff1d2d3a, 0)

preventSelection()
  -moz-user-select: none
  -khtml-user-select: none
  -webkit-user-select: none
  user-select: none

gameFont()
  font-family 'Rancho', 'Comic Sans MS'
  font-size 2em
  line-height 1em

.b-pool
  position: absolute
  display: inline-block

  &__left
  &__right
    position: relative
    display: inline-block
    vertical-align: top
    margin-top: 35px
    width: 82px
    min-height: 140px
    background: #33475c url(POOL-BACKGROUND-TEXTURE)
    background-repeat: repeat no-repeat
    background-position: left (- RADIUS)

    &:before
      content:""
      position: absolute
      top: 0
      height 100%
      width: 100%
      background: url(POOL-LR-TEXTURE)
      background-repeat: repeat no-repeat

  &__left
    left: 10px
    border-radius: RADIUS 0px 0px RADIUS

    &:before
      border-radius: RADIUS 0px 0px RADIUS
      background-position: left top

  &__score
    position relative
    z-index 2
    color yellow
    margin-top 20px
    padding 10px
    text-align center
    gameFont()

    &:before
      min-width 60px
      content "Score"
      display inline-block
      color white

  &__right
    right: 10px
    border-radius: 0 RADIUS RADIUS 0

    &:before
      border-radius: 0 RADIUS RADIUS 0
      background-position: right top
      content "Next"
      margin-top 30px
      text-align center
      color white
      gameFont()

    &__next
      height 60px
      width 60px
      background-color #1d2e3b
      position relative
      top 70px
      border 5px solid #33475c
      border-radius 10px
      margin-bottom 10px
      .jsShapeNext
        margin-top 2px


  &__content
    padding: 28px
    border-radius: RADIUS
    display: inline-block
    background: #33475c url(POOL-BACKGROUND-TEXTURE)
    background-repeat: repeat no-repeat


    &-body
      position relative
      width: 220px
      min-height: 410px
      border 5px solid #1d2e3b
      border-radius: 10px
      backgroundGradient()
      overflow hidden

      &:after
        content ""
        background url('/img/cell.png')
        height 500px
        width 200px
        position absolute


.shape
  position absolute
  transition all ANIMATE_TIME ease-out
  z-index 6

.cell
  position absolute
  background-image url("/img/cells.png")
  transition all ANIMATE_TIME linear
  background-blend-mode: difference, normal;


  /*
    DO NOT REMOVE THIS!!!
    IT PREVENTS FLICKER ISSUE WITH CHROME AND SAFARI
  */
  /** see bug flickering http://stackoverflow.com/questions/2946748/iphone-webkit-css-animations-cause-flicker */
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;


.cellColor1
  background-position 0px 0px

.cellColor2
  background-position -20px 0px

.cellColor3
  background-position -40px 0px

.cellColor4
  background-position -60px 0px

.cellColor5
  background-position -80px 0px

.cellColor6
  background-position -100px 0px

.cellColor7
  background-position -120px 0px

.cellColor50
  background #904d30


// Game
.game
  opacity 1
  display inline-block
  //margin 10px 100px
  //border 1px solid black
  width 900px
  height 650px
  position relative
  background-repeat no-repeat
  background-image url("/img/background3.jpg")

  background-size 900px 650px
  &-inner
    position absolute
    top 0px
    left 0px
    width 100%
    height 100%
    display none
  &-over
    position absolute
    top 25%
    left 25%
    width 50%
    height 40%
    display none
    font-size 1.5em
    padding 10px
    text-align center
    color TEXT_COLOR_NORMAL
    z-index 2
    preventSelection()
    gameFont()
    backgroundGradient()
    border-radius RADIUS
    & span
      color: TEXT_COLOR_SELECTED

.b-menu
  position relative
  display inline-block
  left 15%
  top 5%
  width 70%
  height 70%
  backgroundGradient()
  color TEXT_COLOR_NORMAL
  text-align center
  padding 10px
  gameFont()
  border-radius RADIUS
  preventSelection()

  &-title
    font-weight bold
    font-size 1.5em
    padding 10px

  &-item
    line-height 1.5em
    clear both
    cursor pointer
    &:hover
      color TEXT_COLOR_SELECTED

.controls
  float right
  bottom 0px
  & .button-disabled
    color darkgray

//Particles
.particle
  position absolute
  top 0px
  left 0px
  z-index 5

.spark
  position absolute
  display inline-block
  opacity 0
  //transition: all ANIMATE_TIME ease-out

.message
  position absolute
  display inline-block
  width 220px
  text-align center
  font-weight bold
  font-size 2.5em
  text-shadow 0px 0px 15px white
  opacity 0

//TEMP
#jsChart
  margin-left 100px
  display inline-block
  width FRAME_WIDTH
  height 450px