html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  background-color: #262116;
}
.game {
  margin: auto;
  margin-top: 5%;
  opacity: 1;
  width: 900px;
  height: 650px;
  position: relative;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow: 0 0 30px #000;
}
.game-inner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
}
.game-over {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 40%;
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
  z-index: 2;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: 'Rancho', 'Comic Sans MS';
  font-size: 2em;
  line-height: 1em;
  color: #fff;
  background: rgba(50,70,90,0.7);
  box-shadow: 0 0 20px #151b26;
  border-radius: RADIUS;
}
.game-over span {
  color: TEXT_COLOR_SELECTED;
}
#bg1,
#bg2,
#bg3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 900px;
  height: 650px;
}
#bg1 {
  background-image: url("/assets/img/bg1.png");
  top: 222px;
  height: 428px;
  position: absolute;
  animation: animationBg1 linear 10s;
  animation-iteration-count: infinite;
  -webkit-animation: animationBg1 linear 10s;
  -webkit-animation-iteration-count: infinite;
}
#bg2 {
  background-image: url("/assets/img/bg2.png");
  animation: animationBg2 linear 10s;
  animation-iteration-count: infinite;
  -webkit-animation: animationBg2 linear 10s;
  -webkit-animation-iteration-count: infinite;
}
#bg3 {
  background-image: url("/assets/img/bg3.jpg");
  background-repeat: repeat;
  animation: animationBg3 linear 240s;
  animation-iteration-count: infinite;
  -webkit-animation: animationBg3 linear 240s;
  -webkit-animation-iteration-count: infinite;
}
.pool {
  position: absolute;
  display: inline-block;
  background-image: url("/assets/img/pool_wall.png");
  width: 500px;
  height: 550px;
  transition: top 125ms ease-out;
}
.pool-content,
.pool-content-body {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.pool-content {
  left: 156px;
  top: 25px;
  width: 200px;
  overflow: hidden;
}
.pool-cover,
.pool-glass {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 630px;
}
.pool-cover {
  background-image: url("/assets/img/pool1.png");
}
.pool-glass {
  background-image: url("/assets/img/pool_glass.png");
  top: -4px;
}
.pool-left,
.pool-right {
  position: absolute;
  display: inline-block;
}
.pool-left {
  top: 103px;
  left: 70px;
}
.pool-right {
  position: relative;
  top: 100px;
  width: 60px;
  left: 178px;
  height: 221px;
}
.pool-right-next {
  position: relative;
  margin-top: 15px;
/* margin-left: 10px; */
  height: 65px;
  width: 40px;
}
.pool-score {
  color: #ff0;
  text-align: center;
  margin-top: 22px;
  margin-left: 2px;
  font-family: 'Rancho', 'Comic Sans MS';
  font-size: 2em;
  line-height: 1em;
}
.pool-avatar {
  background-image: url("/assets/img/ava.jpg");
  background-size: 59px;
  width: 59px;
  height: 58px;
}
.shape {
  position: absolute;
  transition: all 250ms ease-out;
}
.cell {
  position: absolute;
  background-image: url("/assets/img/cells3.png");
  transition: all 250ms linear;
  background-blend-mode: difference, normal;
/** see bug flickering http://stackoverflow.com/questions/2946748/iphone-webkit-css-animations-cause-flicker */
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.cellColor50 {
  background-position: 0px 0px;
}
.cellColor1 {
  background-position: -20px 0px;
}
.cellColor2 {
  background-position: -140px 0px;
}
.cellColor3 {
  background-position: -40px 0px;
}
.cellColor4 {
  background-position: -120px 0px;
}
.cellColor5 {
  background-position: -100px 0px;
}
.cellColor6 {
  background-position: -80px 0px;
}
.cellColor7 {
  background-position: -60px 0px;
}
.particle {
  position: absolute;
  top: 28px;
  left: 159px;
}
.spark,
.sprite {
  position: absolute;
  display: inline-block;
  opacity: 0;
}
.message {
  position: absolute;
  display: inline-block;
  width: 220px;
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  text-shadow: 0px 0px 15px #fff;
  opacity: 0;
}
.b-pool {
  position: absolute;
  display: inline-block;
}
.b-pool__left,
.b-pool__right {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  width: 82px;
  min-height: 140px;
  background: #151b26 url("/assets/img/pool-bg.jpg");
  background-repeat: repeat no-repeat;
  background-position: left -33px;
}
.b-pool__left:before,
.b-pool__right:before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: url("/assets/img/pool-lr.png");
  background-repeat: repeat no-repeat;
}
.b-pool__left {
  left: 10px;
  border-radius: 33px 0px 0px 33px;
}
.b-pool__left:before {
  border-radius: 33px 0px 0px 33px;
  background-position: left top;
}
.b-pool__score {
  position: relative;
  z-index: 2;
  color: #ff0;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  font-family: 'Rancho', 'Comic Sans MS';
  font-size: 2em;
  line-height: 1em;
}
.b-pool__score:before {
  min-width: 60px;
  content: "Score";
  display: inline-block;
  color: #fff;
}
.b-pool__right {
  right: 10px;
  border-radius: 0 33px 33px 0;
}
.b-pool__right:before {
  border-radius: 0 33px 33px 0;
  background-position: right top;
  content: "Next";
  margin-top: 30px;
  text-align: center;
  color: #fff;
  font-family: 'Rancho', 'Comic Sans MS';
  font-size: 2em;
  line-height: 1em;
}
.b-pool__right__next {
  height: 60px;
  width: 60px;
  background-color: #1d2e3b;
  position: relative;
  top: 70px;
  border: 5px solid #33475c;
  border-radius: 10px;
  margin-bottom: 10px;
}
.b-pool__right__next .jsShapeNext {
  margin-top: 2px;
}
.b-pool__content {
  padding: 28px;
  border-radius: 33px;
  display: inline-block;
  background: #33475c url("/assets/img/pool-bg.jpg");
  background-repeat: repeat no-repeat;
}
.b-pool-body {
  position: relative;
  width: 220px;
  min-height: 410px;
  border: 5px solid #1d2e3b;
  border-radius: 10px;
  background: rgba(50,70,90,0.7);
  box-shadow: 0 0 20px #151b26;
  overflow: hidden;
}
.b-pool-body:after {
  content: "";
  background: url("/assets/img/cell.png");
  height: 500px;
  width: 200px;
  position: absolute;
}
.shape {
  position: absolute;
  transition: all 250ms ease-out;
  z-index: 6;
}
.cell {
  position: absolute;
  background-image: url("/assets/img/cells.png");
  transition: all 250ms linear;
  background-blend-mode: difference, normal;
}
.b-menu {
  position: absolute;
  display: inline-block;
  left: 25%;
  top: 25%;
  width: 50%;
  background: rgba(50,70,90,0.7);
  box-shadow: 0 0 20px #151b26;
  color: #f0f0f0;
  text-align: center;
  padding: 10px;
  font-family: 'Rancho', 'Comic Sans MS';
  font-size: 2em;
  line-height: 1em;
  border-radius: 33px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.b-menu-title {
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px;
}
.b-menu-item {
  line-height: 1.5em;
  clear: both;
  cursor: pointer;
}
.b-menu-item:hover {
  color: #f0c729;
}
.controls {
  float: right;
  bottom: 0px;
}
.controls .button-disabled {
  color: #a9a9a9;
}
@-moz-keyframes animationBg11 {
  0% {
    left: -100px;
    top: 222px;
  }
  25% {
    left: 0px;
    top: 182px;
  }
  50% {
    left: 100px;
    top: 222px;
  }
  75% {
    left: 0px;
    top: 262px;
  }
  100% {
    left: -100px;
    top: 222px;
  }
}
@-webkit-keyframes animationBg11 {
  0% {
    left: -100px;
    top: 222px;
  }
  25% {
    left: 0px;
    top: 182px;
  }
  50% {
    left: 100px;
    top: 222px;
  }
  75% {
    left: 0px;
    top: 262px;
  }
  100% {
    left: -100px;
    top: 222px;
  }
}
@-o-keyframes animationBg11 {
  0% {
    left: -100px;
    top: 222px;
  }
  25% {
    left: 0px;
    top: 182px;
  }
  50% {
    left: 100px;
    top: 222px;
  }
  75% {
    left: 0px;
    top: 262px;
  }
  100% {
    left: -100px;
    top: 222px;
  }
}
@keyframes animationBg11 {
  0% {
    left: -100px;
    top: 222px;
  }
  25% {
    left: 0px;
    top: 182px;
  }
  50% {
    left: 100px;
    top: 222px;
  }
  75% {
    left: 0px;
    top: 262px;
  }
  100% {
    left: -100px;
    top: 222px;
  }
}
@-moz-keyframes animationBg21 {
  0% {
    left: -50px;
    top: 0px;
  }
  25% {
    left: 0px;
    top: -20px;
  }
  50% {
    left: 50px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 20px;
  }
  100% {
    left: -50px;
    top: 0px;
  }
}
@-webkit-keyframes animationBg21 {
  0% {
    left: -50px;
    top: 0px;
  }
  25% {
    left: 0px;
    top: -20px;
  }
  50% {
    left: 50px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 20px;
  }
  100% {
    left: -50px;
    top: 0px;
  }
}
@-o-keyframes animationBg21 {
  0% {
    left: -50px;
    top: 0px;
  }
  25% {
    left: 0px;
    top: -20px;
  }
  50% {
    left: 50px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 20px;
  }
  100% {
    left: -50px;
    top: 0px;
  }
}
@keyframes animationBg21 {
  0% {
    left: -50px;
    top: 0px;
  }
  25% {
    left: 0px;
    top: -20px;
  }
  50% {
    left: 50px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 20px;
  }
  100% {
    left: -50px;
    top: 0px;
  }
}
@-moz-keyframes animationBg3 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1600px 0px;
  }
}
@-webkit-keyframes animationBg3 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1600px 0px;
  }
}
@-o-keyframes animationBg3 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1600px 0px;
  }
}
@keyframes animationBg3 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1600px 0px;
  }
}
