<script type='text/template' id='tplStyle'>
    <style>
        .jsCell {
            width: {{POOL.CELL_SIZE}}px;
            height: {{POOL.CELL_SIZE}}px;
        /*
            margin: {{POOL.CELL_MARGIN}}px;
        */
        }

        .jsPoolBody {
            width: {{poolWidth}}px;
            height: {{poolHeight}}px;
        }
    </style>
</script>

<script type='text/template' id='tplTest'>
   <div class="test">
        <h3 id="qunit-header">QUnit</h3>
        <ol id="qunit-tests"></ol>
   </div>
</script>

<script type='text/template' id='tplPool'>
    <div class="b-pool">
        <div class="b-pool__left">
            <div class="b-pool__score jsPoolScore">0</div>
        </div>
        <div class="b-pool__content">
            <div class="b-pool__content-body jsPoolBody"></div>
        </div>
        <div class="b-pool__right" style="height: 300px">
            <div class="b-pool__right__next"><div class="jsShapeNext jsShapeNext0"></div></div>
            <div class="b-pool__right__next"><div class="jsShapeNext jsShapeNext1"></div></div>
            <div class="b-pool__right__next"><div class="jsShapeNext jsShapeNext2"></div></div>
        </div>
    </div>
</script>

<script type='text/template' id='tplShape'>
    <div class="shape"></div>
</script>

<script type='text/template' id='tplCell'>
    <div class="cell jsCell cellColor{{index}}" style="top:{{top}}px;left:{{left}}px;"></div>
</script>

<script type='text/template' id='tplMenu'>
    <div class="b-menu">
        <div class="b-menu-title jsMenuTitle">{{title}}</div>
        <div class="b-menu-items jsMenuItems"></div>
    </div>
</script>

<script type='text/template' id='tplMenuItem'>
    <div class="b-menu-item">{{title}}</div>
</script>

